* {
  box-sizing: border-box;
}

header {
  background-color: aquamarine;
  height: 60px;
  padding: 0 20px;
  text-align: center;
}

ul.navbar {
    list-style-type: none;
    float: right;
    padding: 0
}

li.nav-item {
    display: inline;
    font-size: 16px;
    font-weight: 300;
}

h1.logo {
    float: left;
    font-size: 18px;
    color: white;
    display: block;
    font-family: serif;
    font-weight: 500;
}

img {
  max-width: 100%;
}

.hero {
  display: inline-block ;
  background-color: #26547C;
  margin: 0 auto;
  width: 90%;
  margin-left: 5%;
}

.hero-image {
  float: left;
  width: 60%
}

.hero-content > h2 {
  font-size: 40px;
  margin-left: 5px;
  text-align: center;
  color: white;
}

.call-to-action {
  background-color: #FFD166;
  padding: 20px;
  margin: 0 auto;
  width: 90%;

}

.call-to-action p {
  font-size: 20px;
}

.products {
 margin:0 auto;
 width: 90%;
 background-color: lightgrey;
 padding: 20px;
 font-size: 20px;
}

.products ul li img {
  width: 30%;
  height: 30%;
  border: 3px solid black;
  margin-bottom: 10px;
}

.product-wrapper {
  list-style-type: none;
}

.product-item {
  display: inline;
  margin: 8px;
}

.about {
  background-color: #26547C;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

.team {
  overflow: hidden;
  text-align: center;

}
.team h3 {
  color: #EF476F;
  text-transform: uppercase;
  font-size: 20px;
}

.team-meow, .team-values, .team-fun {
  float: left;
  width: 33.33%;
}

.about p {
  font-size: 20px;
  color: white;
}
