* {
  box-sizing: border-box;
}

header {
  background-color: aquamarine;
  height: 60px;
  padding: 0 20px;
  text-align: center;
}

ul.navbar {
    list-style-type: none;
    float: right;
    padding: 0
}

li.nav-item {
    display: inline;
    font-size: 16px;
    font-weight: 300;
}

h1.logo {
    float: left;
    font-size: 18px;
    color: white;
    display: block;
    font-family: serif;
    font-weight: 500;
}

img {
  max-width: 100%;
}

.hero {
  display: inline-block;
  background-color: #26547C;
}

.hero-image {
  float: left;
  width: 60%
}

.hero-content > h2 {
  font-size: 40px;
  margin-left: 5px;
  text-align: center;
  color: white;
}
